/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: hsla( 355, 75%, 56%, 1 );
}

/* Hamburger Menu */
.McButton {
  @bar-w: 44px;
  @bar-h: 3px;
  @bar-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -(@bar-w /2);
  margin-top: -(@bar-w /2);
  width: @bar-w;
  height: (@bar-w *3) /4;
  cursor: pointer;
  
  b {
    position: absolute;
    left: 0;
    width: @bar-w;
    height: @bar-h;
    background-color: @bar-color;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
    }
    &:nth-child(3) {
      top: 100%;
    }
  }
}
